.container_bro {
  position: relative;
}

.track {
  position: relative;
  overflow: hidden;
  width: 50px;
  height: 100px;
  border-left: 3px solid #37beb0;
  transform: skew(-10deg) rotateX(45deg);
}

.track:before {
  content: "";
  position: absolute;
  height: 3px;
  width: 50px;
  background-color: #37beb0;
  top: 90px;
  box-shadow: 0 0 #37beb0, 0 -10px #37beb0, 0 -20px #37beb0, 0 -30px #37beb0,
    0 -40px #37beb0, 0 -50px #37beb0, 0 -50px #37beb0, 0 -60px #37beb0,
    0 -70px #37beb0, 0 -80px #37beb0, 0 -90px #37beb0, 0 -100px #37beb0,
    0 -110px #37beb0, 0 -120px #37beb0, 0 -130px #37beb0, 0 -140px #37beb0;
  animation: track 1s linear infinite;
}

@keyframes track {
  0% {
    transform: translateY(70px) rotateX(45deg);
  }
  100% {
    transform: translateY(0px) rotateX(45deg);
  }
}

.track:after {
  content: "";
  position: absolute;
  transform: rotate(-15deg);
  width: 50px;
  height: 120px;
  background-color: #fff;
  border-left: 3px solid #37beb0;
  left: 30px;
  top: -10px;
}

.train {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #37beb0;
  border-radius: 15px;
  top: 0;
  left: -13px;
  transform-origin: bottom;
  animation: rotate 1s linear infinite;
}

.train:before {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 20px;
  height: 15px;
  left: 9px;
  top: 15px;
  box-shadow: 22px 0 #fff;
}

.train:after {
  content: "";
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  top: 45px;
  left: 10px;
  box-shadow: 30px 0px #fff;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0);
  }
}
